<% provide :title, t("services.services_management") %>
<div class="container">
  <h3>
    <%= link_to services_path do %>
      <%= bootstrap_icon "arrow-return-left", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
    <% end %>
    <%= t(".edit_service") %>
  </h3>
  <%= render "form" %>
  <div class="form-group">
    <%= link_to t("delete"), @service, data: {turbo_method: :delete, turbo_confirm: t("msg.you_sure")}, class: "btn btn-danger" %>
  </div>
</div>
