<div class="hotel-card">
  <div class="images">
    <img src="<%= asset_path("sheraton_1.jpg") %>" class="main-image" alt="Sheraton Hanoi Hotel">
    <div class="sub-images">
      <img src="<%= asset_path("sheraton_2.jpg") %>" alt="Sheraton Hanoi Hotel">
      <img src="<%= asset_path("sheraton_3.jpg") %>" alt="Sheraton Hanoi Hotel">
      <img src="<%= asset_path("sheraton_4.jpg") %>" alt="Sheraton Hanoi Hotel">
    </div>
  </div>
  <div class="hotel-info">
    <div class="rating">
      <%= t("hotel.rating") %>
    </div>
    <h2 class="hotel-name"><%= t("hotel.name") %></h2>
    <p class="address"><%= t("hotel.address") %></p>
  </div>
  <div class="promotion">
    <p><%= t("hotel.promotion") %></p>
  </div>
  <div class="price-box">
    <div class="time">
      <%= t "time.duration" %> | <%= t "time.period" %>
    </div>
    <div class="price">
      <span class="old"><%= t("hotel.price.old") %></span>
      <span class="new"><%= t("hotel.price.new") %></span>
    </div>
  </div>
  <div class="action">
    <%= link_to user_room_types_path, class: "btn-choose" do %>
      <%= t("hotel.button") %>
    <% end %>
  </div>
</div>
