 
<tr>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= t("role." << user.role.to_s) %></td>
  <td><%= user.last_activity.strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td>
    <span class="badge"><%= t user.status %></span>
    <td>
      <%= link_to t(".view"), user_path(user), class: "btn btn-secondary" %>
      <% if user.activated %>
        <%= link_to t("users.deactivate"), deactivate_user_path(user), data: {turbo_method: :put, turbo_confirm: t("msg.you_sure")}, class: "btn btn-danger" %>
      <% else %>
        <%= link_to t("users.activate"), activate_user_path(user), data: {turbo_method: :put, turbo_confirm: t("msg.you_sure")}, class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
