<% provide :title, t("users.users_management") %>
<div class="container">
  <div class="header-row">
    <h3><%= t(".users_list") %></h3>
    <%= link_to new_user_path do %>
      <%= bootstrap_icon "plus", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
      <span><%= t(".add_user") %></span>
    <% end %>
  </div>

  <%= search_form_for @q, url: users_path, method: :get, local: true do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :usename_or_email_or_phone_cont, value: params.dig(:q, :usename_or_email_or_phone_cont), placeholder: t(".search_placeholder"), class: "form-control" %>
      </div>
      <%= f.submit t(".search"), class: "btn btn-primary" %>
    </div>
    <div class="filter">  
      <div class="form-group mb-2 user-filter-group">
        <%= f.radio_button :activated_eq, "true", checked: params.dig(:q, :activated_eq) == "true" %>
        <%= f.label :activated_eq_true, t("activated") %>
        <%= f.radio_button :activated_eq, "false", checked: params.dig(:q, :activated_eq) == "false" %>
        <%= f.label :activated_eq_false, t("deactivated") %>
        <%= f.radio_button :activated_eq, "", checked: params.dig(:q, :activated_eq).blank? %>
        <%= f.label :activated_eq_, t(".all") %>
      </div>

      <div class="form-group mb-2 user-filter-group">
        <%= f.radio_button :admin_eq, "true", checked: params.dig(:q, :admin_eq) == "true" %>
        <%= f.label :admin_eq_true, t(".admin") %>
        <%= f.radio_button :admin_eq, "false", checked: params.dig(:q, :admin_eq) == "false" %>
        <%= f.label :admin_eq_false, t(".user") %>
        <%= f.radio_button :admin_eq, "", checked: params.dig(:q, :admin_eq).blank? %>
        <%= f.label :admin_eq_, t(".all") %>
      </div>
    </div>
  <% end %>

  <p>
    <%= t ".total_users" %>: <%= @pagy.count %>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@q, :usename, t(".usename")) %></th>
        <th><%= sort_link(@q, :email, t(".email")) %></th>
        <th><%= sort_link(@q, :phone, t(".phone")) %></th>
        <th><%= sort_link(@q, :admin, t(".role")) %></th>
        <th><%= sort_link(@q, :last_activity, t(".last_activity")) %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
