<% provide :title, t(".room_type_management") %>
<div class="room-type-management-page">
  <div>
    <%= link_to new_room_type_url, class: "add-button" do %>
      <%= bootstrap_icon "plus", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
      <%= t ".add_room_type" %>
    <% end %>
  </div>
  <table class="table">
    <thead >
      <tr>
        <th>ID</th>
        <th><%= t ".name" %></th>
        <th><%= t ".price" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @room_types %>
    </tbody>
  </table>
</div>
