  
<div class="guest-infor-col">
  <h3>
    <%= bootstrap_icon "bookmark-dash-fill", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
    <%= t "requests.guest_infor" %>
  </h3>
  <div class="infor">
    <p><%= t "requests.fullname" %></P>
    <p><%= @request.user.username %></p>
  </div>
  <div class="infor">
    <p><%= t "requests.phone" %></P>
    <p><%= @request.user.phone %></p>
  </div>
  <div class="infor">
    <p><%= t "requests.email" %></P>
    <p><%= @request.user.email %></p>
  </div>
</div>
<div>
  <h3>
    <%= bootstrap_icon "bookmark-dash-fill", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
    <%= t "requests.request_infor" %>
  </h3>
  <div class="infor">
    <p><%= t "requests.index.checkin_date" %></P>
    <p><%= @request.checkin_date %></p>
  </div>
  <div class="infor">
    <p><%= t "requests.index.checkout_date" %></P>
    <p><%= @request.checkout_date %></p>
  </div>
  <div class="infor">
    <p><%= t "requests.index.status" %></P>
    <p><%= status_chip @request.status %></p>
  </div>
  <% if @request.status == Settings.requests.status.denied %>
    <div class="infor">
      <p><%= t "requests.index.reason" %></P>
      <p><%= @request.reason %></p>
    </div>
  <% end %>
</div>
