<tr>
  <td><%= request.id %></td>
  <td><%= request.user.usename %></td>
  <td><%= request.checkin_date %></td>
  <td><%= request.checkout_date %></td>
  <td>
    <%= request.room_type.name %> - <%= request.quantity %>
  </td>
  <td><%= status_chip request.status %></td>
  <td>
    <%= link_to get_redirect_path(request) do %>
      <%= bootstrap_icon "eye-fill", height: Settings.default.view.sidebar.icon_size, class:"action-logo" %>
      <%= t "room_types.view" %>
    <% end %>
  </td>
</tr>
