<% provide :title, t("requests.request_management") %>
<div class="checkin-page">
  <%= render "infor" %>

  <%= form_with url: checkin_submit_request_url(@request), method: :post, id: "checkin-form" do %>
    <table class="table">
      <tr>
        <th><%= t "admin.layouts.room_type" %></th>
        <th><%= t "room_types.form.quantity" %></th>
        <th></th>
      </tr>
      <tr>
        <td><%= @request.room_type.name %></td>
        <td><%= @request.quantity %></td>
        <td>
          <% @avaiable_rooms.each do |room| %>
            <div>
              <label>
                <%= check_box_tag "room_ids[]", room.id %>
                <%= room.room_number %>
              </label>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="action">
        <%= submit_tag t("checkin"), class: "btn btn-primary" %>
         <%= link_to "Deny", deny_request_url(@request), data: { turbo_stream: true } %>
    </div>
  <% end %>
</div>
