<div class="tab-menu">
  <ul>
    <li class="active"><a href="#"><%= t("menu.overview") %></a></li>
    <li><a href="#"><%= t("menu.room_list") %></a></li>
    <li><a href="#"><%= t("menu.amenities") %></a></li>
    <li><a href="#"><%= t("menu.reviews") %></a></li>
    <li><a href="#"><%= t("menu.hotel_policy") %></a></li>
    <li><a href="#"><%= t("menu.cancellation_policy") %></a></li>
  </ul>
</div>
<div class="intro-section">
  <h2><%= t("intro.title") %></h2>
  <p>
    <%= t("intro.description") %>
  </p>
  <p><strong><%= t("intro.note") %>:</strong></p>
  <ul>
    <li><%= t("intro.late_arrival") %></li>
    <li><%= t("intro.payment_policy") %></li>
  </ul>
  <hr>
  <p><strong><%= t("intro.customer_requirements") %>:</strong></p>
  <ul>
    <li><%= t("intro.id_required") %></li>
    <li><%= t("intro.age_requirement") %></li>
  </ul>
  <button class="show-more"><%= t("intro.show_more") %></button>
</div>
<h2 class="room-list-title"><%= t("room_list.title") %></h2>
<div class="room-list-container">
  <% @room_types.each do |room_type| %>
    <div class="room-card">
      <!-- Ảnh -->
      <div class="room-image-container">
        <% if room_type.images.attached? %>
          <%= image_tag url_for(room_type.images.first), alt: room_type.name, class: "room-image" %>
        <% else %>
          <%= image_tag "logo.jpg", alt: t("room_list.default_image"), class: "room-image" %>
        <% end %>
      </div>
      <div class="room-details">
        <div class="room-info">
          <p class="room-name"><%= room_type.name %></p>
          <p class="room-size"><%= room_type.size %> m²</p>
          <%= link_to t("room_list.view_details"), room_type_path(room_type), class: "room-link" %>
        </div>

        <div class="room-devices">
          <% room_type.devices.each do |device| %>
            <span class="device-item"><%= device.name %></span>
          <% end %>
        </div>
        <div class="room-price-action">
         <p class="room-price"><%= number_to_currency(room_type.price, unit: "", format: "%n đ") %> <span><%= t("room_list.per_day") %></span></p>
         <%= link_to t("room_list.book_room"), room_type_path(room_type), class: "book-button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
