<header class="admin-header">
  <%= link_to Settings.app_name, "#", class: "admin-logo" %>
  <%= form_with(url: "/search", method: :get, local: true) do |f| %>
    <%= f.text_field :query, placeholder: t("admin.layouts.search") %>
    <%= f.submit t("admin.layouts.search") %>
  <% end %>
  <div class="language-select">
    <%= link_to t("language.english"), locale:"en" %>
    <%= link_to t("language.vietnamese"), locale:"vi" %>
  </div>
  <div class="header-nav">
    <%= image_tag "https://robohash.org/10.png" %>
    <div>
      <p>Test User</P>
      <p><%= t "admin.layouts.admin" %></p>
    </div>
    <ul>
     <%= button_to t("logout"), destroy_user_session_path(locale: I18n.locale), method: :delete, class: "btn btn-link", form: { "data-turbo": false } %>
    </ul>
  </div>
</header>
