<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/admin/header" %>
    <%= render "shared/admin/sidebar" %>
    <div class="content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="page-title">
        <h3><%= yield :title %></h3>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
